html {
    font-family: Roboto;
    font-size: 18px;
}

body {
    margin: 0px;
}

#app {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.dark-icon {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; 
}

/*********************************** HEADER ***********************************/
#page-header {
    height: 64px;
    background-color: #eee;
    padding: 5px 25px;

    display: flex;
    flex-direction: row;
    align-items: center;

    flex-shrink: 0;
}

#page-header > div {
    flex-grow: 2;
}

#page-header > Button {
    margin: 10px;
}

#page-content {
    display: grid;
    grid-template-columns: repeat(10, 0.2fr);
    grid-template-rows: repeat(8, 0.2fr);
    grid-template-areas: 
        "main main main main main main main main ranking ranking"
        "main main main main main main main main ranking ranking"
        "results results results results results results results results neurons neuron-info"
        "results results results results results results results results neurons neuron-info"
        "results results results results results results results results neurons neuron-info"
        "results results results results results results results results neurons neuron-info"
        "results results results results results results results results selected-neurons selected-neurons"
        "results results results results results results results results selected-neurons selected-neurons";
    justify-items: stretch;

    height: calc(100vh - 80px);
}

#sentences-container {
    grid-area: main;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    overflow: hidden;
}

#rankings-container {
    grid-area: ranking;

    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    overflow: scroll;
}

#results-container {
    grid-area: results;

    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
}

#neurons-container {
    grid-area: neurons;

    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
}

#neuron-info-container {
    grid-area: neuron-info;

    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
}

#selected-neurons-pool {
    grid-area: selected-neurons;

    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;

    overflow: scroll;

    display: flex;
    flex-direction: column;
}

.ranking-selected {
    background-color: #e1cbff;
}

.ranking-item {
    font-family: Roboto;
    font-size: 0.8rem;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;
}

.ranking-item:hover {
    background-color: #eee;
}

.sub-ranking-item {
    font-family: Roboto;
    font-size: 0.8rem;
    margin: 0px 10px 0px 10px;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px;

    margin-left: 30px;
}

.sub-ranking-item:hover {
    background-color: #eee;
}

#neuron-list {
    display: flex;
    flex-direction: column;

    overflow: scroll;
    height: calc(100% - 50px);
}

#neuron-pool {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: calc(100% - 50px);
}

.hidden {
    display: none;
}

#neuron-specific-info {
    display: flex;
    flex-direction: column;
}


#cloak {
    margin-left: 25vw;
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 60px;
}