[submodule "src/external/opennmt-inspection"]
	path = src/external/opennmt-inspection
	url = https://github.com/fdalvi/opennmt-inspection.git
[submodule "src/external/aux_classifier"]
	path = src/external/aux_classifier
	url = https://github.com/fdalvi/aux_classifier.git