body {
    margin: 0px;
    font-family: Roboto,sans-serif;
}

#app {
    height: 100%;
    width: 100%;
    min-height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dark-icon {
    background-color: rgba(0, 0, 0, 0.3);
    color: white; 
}

.subtitle {
    font-family: Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: .00937em;
    text-decoration: inherit;
    text-transform: inherit;
}

/*********************************** HEADER ***********************************/
#page-header {
    height: 150px;
}

.page-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 60px;
}

/********************************** CONTENT ***********************************/
#page-content {
    min-width: 60%;
    flex-grow: 2;

    display: flex;
    flex-direction: row;
    align-self: center;
}

#page-divider {
    border-left: 2px solid #999;
    height: 500px;
}

#existing-projects {
    width: 300px;
    padding-left: 30px;
    padding-right: 30px;
}

#project-info-container {
    width: 100%;
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
}

#new-project-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#rankings-container {
    margin-top: 16px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

    color: #777;
    width: 468px;
    height: 454px;  
    padding-left: 15px;
    padding-right: 15px;

    display: flex;
    flex-direction: column;
}

#rankings-list {
    text-align: center;
    flex-grow: 1;
    overflow: scroll;
}

#ranking-controls {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

/********************************** FOOTER ************************************/
#page-footer {
    display: flex;
    flex-direction: row;

    justify-content: center;
    height: 100px;
    margin-bottom: 30px;
}

#page-footer > img {
    width: auto;
    height: 100%;
    margin-left: 30px;
    margin-right: 30px;
}