.sentence {
	display: flex;
	flex-direction: row;

	margin: 2px;
}

.sentence-spacer {
	margin: 1px;
}

.wrap {
	flex-wrap: wrap;
}

.nowrap {
	flex-wrap: nowrap;
}

.token {
	font-family: inherit;
	font-size: 0.7rem;
	padding: 6px;
	display: inline-block;
	white-space: nowrap;
}

.item-name {
	background-color: #f4f4f4;
	color: #999;
	padding: 6px;
	display: inline-block;
	min-width: 92px;
	text-align: center;
	white-space: pre;

	font-family: monospace;
	font-size: 0.7rem;
}